body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.form-heading {
    margin-bottom: 15px !important;
}

.nav-link {
    color: #b7c9cc;
    text-decoration: none;
}

.nav-link:hover {
    color: #fff;
}

#main {
    padding: 30px;
}

.code-editor {
    border: 1px solid lightgray;
    width: 100% !important;
}

.form {
    padding: 30px !important;
}

pre {
    overflow-x: auto;
}
